.cell{
    border: 1px solid black;
}
.display{
    width: 500px;
    height:500px;
    display: grid;
    grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
}
.x{
    background-image: url("x.png");
    background-size: cover;
    background-position-x: -8px;
}
.o{
    background-image: url("o.png");
    background-size: cover;
    background-position-x: 5px;

}